<div class="container">

    <div class="mainHeader">Warehouse - Part Management</div>

    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card">
                <div class="card-body">
                    <div *ngIf="orders?.length>0; else noOrders" 
                        class="container">


                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" 
                                        (blur)="searchPart()"
                                        class="searchControl form-control" 
                                        placeholder="Search Part"
                                        [(ngModel)]="term">
                                </div>
                            </div>                          
                        </div>
                        <p></p>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>
                                        <button type="button" 
                                            (click)="orderBy('Partname')" 
                                            class="btn btn-outline-secondary">
                                            Part
                                        </button>
                                    </th>
                                    <th>Order QTY</th>
                                    <th>
                                        <button type="button" 
                                            (click)="orderBy('Date')"
                                            class="btn btn-outline-secondary">
                                            Order Date
                                        </button>
                                    </th>
                                    <th>
                                        <button type="button" 
                                            (click)="orderBy('OrderStatus')"
                                            class="btn btn-outline-secondary">
                                            Order Status
                                        </button>
                                    </th>
                                    <th>Ref-Code#</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let order of orders; let i = index">
                                    <th scope="row">{{ order.orderMasterId }}</th>
                                    <td>
                                        <span>
                                            {{order.partName }}
                                            <br />
                                            <span>
                                                [{{order.partCode}}]
                                            </span>
                                        </span>
                                    </td>
                                    <td>{{order.orderQuantity }}</td>
                                    <td>
                                        {{order.orderDate | date : "MMM-dd, y"}}
                                    </td>
                                    <td class="{{localDataService.getOrderStatusType(order.orderStatus)}}">
                                        {{localDataService.getOrderStatusType(order.orderStatus)}}
                                    </td>
                                    <td>{{order.refCode}}</td>
                                </tr>
                            </tbody>
                        </table>                      
                    </div>
                    <ng-template #noOrders>
                        <div class="container">
                            <span class="noOrders">
                                Orders Not Found !
                            </span>
                            <p></p>
                            <button type="button" 
                                (click)="reloadOrders()" 
                                class="btn btn-primary">
                                Reload-Orders
                            </button>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>