<div class="container">

    <!-- view order detail-->
    <!-- modal-->
    <div>
        <ng-template #mymodal let-modal>
            <div class="orderDetailsStyle">
                <div class="modal-header">
                    <h4 class="modal-title" 
                        id="modal-basic-title">Order-Details</h4>
                    <button type="button" 
                        class="close" 
                        aria-label="Close" 
                        (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">
                            ×
                        </span>
                    </button>
                </div>
                <div *ngIf="orderMasterView" class="modal-body">
                    <div class="row">
                        <div class="col-sm-5">
                            <h5>Order Master #</h5>
                        </div>
                        <div class="col-sm-7">
                            {{orderMasterView.orderMasterId}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <h5>Part </h5>
                        </div>
                        <div class="col-sm-7">
                            {{orderMasterView.partName}} - [{{orderMasterView.partCode}}]
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <h5>Order QTY</h5>
                        </div>
                        <div class="col-sm-7">
                            {{orderMasterView.orderQuantity}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <h5>Order Date</h5>
                        </div>
                        <div class="col-sm-7">
                            {{orderMasterView.orderDate | date : "MMM-dd, y"}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <h5>Order Status</h5>
                        </div>
                        <div class="col-sm-7 {{localDataService.getOrderStatusType(orderMasterView.orderStatus)}}">
                            {{localDataService.getOrderStatusType(orderMasterView.orderStatus)}}
                        </div>                     
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <h5>Ref-Code</h5>
                        </div>
                        <div class="col-sm-7">
                            {{orderMasterView.refCode}}
                        </div>
                    </div>
                </div>
                <div *ngIf="!orderMasterView" 
                    class="modal-body badRequest">
                    Bad Request!                
                </div>
                <div class="modal-footer">
                    <button type="button" 
                        class="btn btn-outline-dark" 
                        (click)="modal.close('Save click')">
                        Ok
                    </button>
                </div>
            </div>
        </ng-template>
    </div>

    <div class="mainHeader">Warehouse - Part Management</div>

    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card">
                <div class="card-body">
                    <div *ngIf="orders?.length>0; else noOrders" 
                        class="container">


                        <!-- search order-->
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" 
                                        (blur)="searchPart()"
                                        class="searchControl form-control" 
                                        placeholder="Search Part"
                                        [(ngModel)]="term">
                                </div>
                            </div>   
                            <div class="col-sm-6"></div>
                        </div>
                        <p></p>

                        <!-- display orders @table-->
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>
                                        <button type="button" 
                                            (click)="orderBy('Partname')" 
                                            class="btn btn-outline-secondary">
                                            Part
                                        </button>
                                    </th>
                                    <th>Order QTY</th>
                                    <th>
                                        <button type="button" 
                                            (click)="orderBy('Date')"
                                            class="btn btn-outline-secondary">
                                            Order Date
                                        </button>
                                    </th>
                                    <th>
                                        <button type="button" 
                                            (click)="orderBy('OrderStatus')"
                                            class="btn btn-outline-secondary">
                                            Order Status
                                        </button>
                                    </th>
                                    <th>Ref-Code#</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let order of orders; let i = index">
                                    <th scope="row">{{ order.orderMasterId }}</th>
                                    <td>
                                        <span>
                                            {{order.partName }}
                                            <br />
                                            <span>
                                                [{{order.partCode}}]
                                            </span>
                                        </span>
                                    </td>
                                    <td>{{order.orderQuantity }}</td>
                                    <td>
                                        {{order.orderDate | date : "MMM-dd, y"}}
                                    </td>
                                    <td class="{{localDataService.getOrderStatusType(order.orderStatus)}}">
                                        {{localDataService.getOrderStatusType(order.orderStatus)}}
                                    </td>
                                    <td>{{order.refCode}}</td>
                                    <td>
                                        <div class="row">
                                            <div class="col-1"></div>
                                            <div class="col-1">                                               
                                            </div>
                                            <div class="col-1"></div>
                                            <div class="col-1">
                                                <button type="button" 
                                                    (click)="open(mymodal, order)" 
                                                    class="btn btn-success">
                                                    <i class="bi bi-ticket-detailed"></i>
                                                </button>
                                            </div>
                                            <div class="col-1">
                                            </div>
                                            <div class="col-7"></div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>                      
                    </div>
                    <!-- no orders to display-->
                    <ng-template #noOrders>
                        <div class="container">
                            <span class="noOrders">
                                Orders Not Found !
                            </span>
                            <p></p>
                            <button type="button" 
                                (click)="reloadOrders()" 
                                class="btn btn-primary">
                                Reload-Orders
                            </button>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>