.mainHeader {
    text-align: center;
    color: darkolivegreen;
    font-size: xx-large;
    font-weight: bold;
    margin: 20px;
}

.componentHeader {
    background-color: lightyellow;
}

.noOrders {
    color: red;
    font-size: x-large;
}

.searchControl {
    width: 300px;
}

.noQty {
    color: red;
}

.qty {
    font-weight: bold;
}

.Confirmed{
    color: green;
}
.Received{
    color : red;
}
.Received_WIP{
    color: blue;
}