<div class="container">

    <!-- view order detail-->
    <!-- modal-->
    <div>
        <ng-template #mymodal let-modal>
            <div class="orderDetailsStyle">
                <div class="modal-header">
                    <h4 class="modal-title"
                        id="modal-basic-title">
                        Receiving-Order-Details
                    </h4>
                    <button type="button" class="close" 
                        aria-label="Close" 
                        (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">
                            ×
                        </span>
                    </button>
                </div>
                <div *ngIf="receiveOrderView" 
                    class="modal-body">
                    Receiving-Order-Details
                </div>
                <div *ngIf="!receiveOrderView" 
                    class="modal-body badRequest">
                    Bad Request!
                </div>
                <div class="modal-footer">
                    <button type="button" 
                        class="btn btn-outline-dark" 
                        (click)="modal.close('Save click')">
                        Ok
                    </button>
                </div>
            </div>
        </ng-template>
    </div>

    <div class="mainHeader">Receiving - Part Management</div>

    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card">
                <div class="card-body">
                    <div *ngIf="rOrders?.length>0; else noROrders" 
                        class="container">


                        <!-- search receiving order-->
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" 
                                        (blur)="searchReceivedOrder()"
                                        class="searchControl form-control" 
                                        placeholder="Search Received Order"
                                        [(ngModel)]="term">
                                </div>
                            </div>   
                            <div class="col-sm-6 receiveBtn">
                                <div class="col-sm-6">
                                    <button type="button" 
                                        (click)="receiveOrderNow()" 
                                        class="btn btn-info">
                                        Receive Order Now
                                    </button>
                                </div>
                            </div>
                        </div>
                        <p></p>
                     

                        <!-- display r-orders @table-->
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Receive #</th>
                                    <th>
                                      Part
                                    </th>   
                                    <th>
                                        R-QTY
                                    </th>
                                    <th>O-QTY</th> 
                                    <th>R-Date</th> 
                                    <th>O-Date</th>       
                                    <th>Status</th>     
                                    <th>REF</th>   
                                    <th></th>              
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let rorder of rOrders; let i = index">
                                    <th scope="row">{{ rorder.receivePartId }}</th>
                                    <td>
                                        {{rorder.part}}
                                    </td>
                                    <td>
                                        {{rorder.receiveQuantity}}
                                    </td>
                                    <td>
                                        {{rorder.orderQuantity}}
                                    </td>
                                    <td>
                                        {{rorder.receiveDate | date : "MMM-dd, y"}}
                                    </td>
                                    <td>
                                        {{rorder.orderDate | date : "MMM-dd, y"}}
                                    </td>
                                    <td class="{{localDataService.getOrderStatusType(rorder.orderStatus)}}">
                                        <span>
                                            {{localDataService.getOrderStatusType(rorder.orderStatus)}}
                                        </span>
                                        <br />
                                        <span>
                                            {{rorder.receiveQuantity}} / {{rorder.orderQuantity}}
                                        </span>
                                    </td>
                                    <td>
                                        {{rorder.refCode}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- no orders to display-->
                    <ng-template #noROrders>
                        <div class="container">
                            <span class="noROrders">
                                Received Orders Not Found !
                            </span>
                            <p></p>
                            <button type="button" 
                                (click)="reloadReceivedOrders()" 
                                class="btn btn-primary">
                                Reload-Received-Orders
                            </button>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>