.mainHeader {
    text-align: center;
    color: darkolivegreen;
    font-size: xx-large;
    font-weight: bold;
    margin: 20px;
}
.componentHeader {
    background-color: lightyellow;
}

.cancelBtn {
    float: right;
}

.apiError { 
    color : red;
    font-size: large;
}
.apiSuccess{
    color: green;
    font-size: large;
}

.file{
    color: blue;
}

.remotePartCodeCheckError{
    color: red;
}
