.componentHeader {
    background-color: lightyellow;
}

.cancelBtn {
    float: right;
}

.apiError { 
    color : red;
    font-size: large;
}
.apiSuccess{
    color: green;
    font-size: large;
}

.file{
    color: blue;
}

.remotePartCodeCheckError{
    color: red;
}
