<div class="mainHeader">Warehouse - Part Management</div>

<div class="container">
    <div class="col-md-12 mx-auto">
        <div class="card">
            <div class="card-header componentHeader">
                <h4>
                    <div>
                        [Warehouse-Order - Edit] &nbsp;&nbsp; # {{selectedOrder.orderMasterId}}
                    </div>
                </h4>
            </div>
            <div class="card-body">
                <form *ngIf="orderEditForm" 
                    class="form-orderEdit" 
                    [formGroup]="orderEditForm" 
                    (ngSubmit)="onSubmit()">

                    <div class="row">
                        <div class="col-md-3 mx-auto"></div>
                        <div class="col-md-6 mx-auto">
                            <div class="form-group">
                                <label>Part</label>
                                <select class="form-control" 
                                    formControlName="partMasterId">
                                    <option value={{part.value}} 
                                        *ngFor="let part of partList">
                                        {{part.text}}
                                    </option>
                                </select>                              
                                <div *ngIf="submitted && f['partMasterId'].errors" 
                                    class="invalid-feedback">
                                    <div *ngIf="f['partMasterId'].errors['required']">
                                        Part is required
                                    </div>                                 
                                </div>
                            </div>
                            <p></p>
                            <div class="form-group">
                                <label>Order QTY</label>
                                <input type="text" 
                                    formControlName="orderQuantity" 
                                    class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f['orderQuantity'].errors }" />
                                <div *ngIf="submitted && f['orderQuantity'].errors" 
                                    class="invalid-feedback">
                                    <div *ngIf="f['orderQuantity'].errors['required']">
                                        Order QTY is required
                                    </div>
                                    <div *ngIf="f['orderQuantity'].errors['pattern']">
                                        Invalid Order QTY
                                    </div>
                                </div>                           
                            </div>                        
                        </div>
                        <div class="col-md-3 mx-auto"></div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <button type="submit" class="btn btn-success">
                                    Edit Order
                                </button>
                            </div>
                            <div class="col-sm-6">
                                <button type="button" 
                                    (click)="goBack()" 
                                    class="btn btn-primary cancelBtn">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>